
.circle {
  position: absolute;
  border-radius: 50%;
  background: #4e71b67a;
  z-index: 22;
}
.circle-1 {
  width: 150px;
  height: 150px;
  top: 10%;
  left: 10%;
}
.circle-2 {
  width: 150px;
  height: 150px;
  bottom: 20%;
  right: 20%;
}
.circle-3 {
  width: 100px;
  height: 100px;
  top: 60%;
  left: 5%;
  background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
}
.circle-4 {
  width: 100px;
  height: 100px;
  background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
  top: 20%;
  right: 10%;
}

